Repository boostcampwm-2022/iOS05-Segno, pull requests merged in 2022-12, with the labels that each got.

#129 SettingsUseCase 및 ChangeUserNameUseCase 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Repository/SettingsRepository.swift
  Segno/Segno/Domain/UseCase/ChangeUserNameUseCase.swift
  Segno/Segno/Domain/UseCase/SettingsUseCase.swift
  Segno/Segno/Presentation/Utility/DarkMode.swift
  Segno/Segno/Presentation/View/SettingsCellModel.swift
  Segno/Segno/Presentation/ViewController/SettingsViewController.swift
  Segno/Segno/Presentation/ViewModel/SettingsViewModel.swift
Labels: UseCase

#122 Feature/diary detail logic
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Network/Endpoint.swift
  Segno/Segno/Data/Network/Endpoints/DiaryPostEndpoint.swift
  Segno/Segno/Data/Network/Endpoints/ImageEndpoint.swift
  Segno/Segno/Data/Network/NetworkManager.swift
  Segno/Segno/Data/Repository/DTO/ImageDTO.swift
  Segno/Segno/Data/Repository/DiaryRepository.swift
  Segno/Segno/Domain/UseCase/DiaryEditUseCase.swift
  Segno/Segno/Entity/DiaryDetail.swift
  Segno/Segno/Entity/Location.swift
  Segno/Segno/Entity/MusicInfo.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
Labels: Repository, UseCase, ViewModel, Session

#140 MyPage와 관련된 플로우 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Network/Endpoints/UserDetailEndpoint.swift
  Segno/Segno/Data/Repository/DTO/UserDetailDTO.swift
  Segno/Segno/Data/Repository/MyPageRepository.swift
  Segno/Segno/Domain/UseCase/UserDetailUseCase.swift
  Segno/Segno/Entity/UserDetailItem.swift
  Segno/Segno/Presentation/ViewController/MyPageViewController.swift
  Segno/Segno/Presentation/ViewModel/MyPageViewModel.swift
Labels: ViewController, UseCase, ViewModel

#151 SettingsRepository 및 닉네임 변경 구현
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Network/Endpoint.swift
  Segno/Segno/Data/Network/Endpoints/ChangeNicknameEndpoint.swift
  Segno/Segno/Data/Repository/SettingsRepository.swift
  Segno/Segno/Domain/UseCase/ChangeNicknameUseCase.swift
  Segno/Segno/Domain/UseCase/ChangeUserNameUseCase.swift
  Segno/Segno/Presentation/ViewController/SettingsViewController.swift
  Segno/Segno/Presentation/ViewModel/SettingsViewModel.swift
Labels: ViewController, Repository, UseCase, ViewModel

#155 음악 검색 및 재생 라이브러리 연동
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Segno/Segno/Application/AppCoordinator.swift
  Segno/Segno/Data/Repository/MusicRepository.swift
  Segno/Segno/Data/Session/LoginSession.swift
  Segno/Segno/Data/Session/MusicSession.swift
  Segno/Segno/Data/Session/ShazamSession.swift
  Segno/Segno/Domain/UseCase/SearchMusicUseCase.swift
  Segno/Segno/Entity/DiaryDetail.swift
  Segno/Segno/Entity/MusicInfo.swift
  Segno/Segno/Presentation/View/MusicContentView.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
  Segno/Segno/Presentation/ViewController/LoginViewController.swift
Labels: ViewController, Session

#152 Feature/diary logic fix
  Segno/Segno/Data/Repository/DTO/DiaryDetailDTO.swift
  Segno/Segno/Domain/UseCase/DiaryDetailUseCase.swift
  Segno/Segno/Domain/UseCase/DiaryEditUseCase.swift
  Segno/Segno/Entity/Location.swift
  Segno/Segno/Entity/MusicInfo.swift
Labels: Model

#153 Login View 수정
  Segno/Segno/Presentation/ViewController/LoginViewController.swift
Labels: bug, ViewController

#161 다크모드 기능 구현
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Application/SceneDelegate.swift
  Segno/Segno/Data/Manager/DarkModeManager.swift
  Segno/Segno/Data/Repository/LocalUtilityRepository.swift
  Segno/Segno/Domain/UseCase/SettingsUseCase.swift
  Segno/Segno/Presentation/View/NicknameCell.swift
  Segno/Segno/Presentation/ViewController/SettingsViewController.swift
  Segno/Segno/Resource/Assets.xcassets/background.colorset/Contents.json
  Segno/Segno/Resource/Assets.xcassets/grey1.colorset/Contents.json
  Segno/Segno/Resource/Assets.xcassets/grey2.colorset/Contents.json
  Segno/Segno/Resource/Assets.xcassets/grey3.colorset/Contents.json
Labels: ViewController, Repository, UseCase, Manager

#162 DiaryCollectionViewController 검색 기능 구현
  Segno/Segno/Data/Repository/DTO/DiaryListDTO.swift
  Segno/Segno/Presentation/ViewController/DiaryCollectionViewController.swift
Labels: ViewController

#163 프로젝트 소개 페이지를 기반으로 리드미 업데이트
  README.md
Labels: documentation

#164 DiaryEditViewController 터치, 키보드 관련 이슈 처리
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
Labels: ViewController

#165 일기 작성 흐름 중 음악 검색 부분 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Application/AppCoordinator.swift
  Segno/Segno/Data/Network/Errors/NetworkError.swift
  Segno/Segno/Data/Network/Errors/ShazamError.swift
  Segno/Segno/Data/Repository/DTO/ShazamSongDTO.swift
  Segno/Segno/Data/Repository/MusicRepository.swift
  Segno/Segno/Data/Session/ShazamSession.swift
  Segno/Segno/Domain/UseCase/SearchMusicUseCase.swift
  Segno/Segno/Entity/MusicInfo.swift
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
  Segno/Segno/Presentation/ViewController/LoginViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryEditViewModel.swift
Labels: ViewController, Repository, UseCase, ViewModel, Session

#173 뮤직 세션 레이어 분리
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Network/Endpoints/DiaryDetailEndpoint.swift
  Segno/Segno/Data/Network/Endpoints/DiaryListItemEndpoint.swift
  Segno/Segno/Data/Repository/DTO/DiaryDetailDTO.swift
  Segno/Segno/Data/Repository/DTO/DiaryListDTO.swift
  Segno/Segno/Data/Repository/DiaryRepository.swift
  Segno/Segno/Data/Repository/MusicRepository.swift
  Segno/Segno/Data/Session/MusicSession.swift
  Segno/Segno/Domain/UseCase/DiaryDetailUseCase.swift
  Segno/Segno/Domain/UseCase/DiaryListUseCase.swift
  Segno/Segno/Domain/UseCase/PlayMusicUseCase.swift
  Segno/Segno/Presentation/View/MusicContentView.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryDetailViewModel.swift
Labels: Repository, UseCase, ViewModel, Session

#174 Alert 팝업을 위한 extension 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Extension/UIViewController+.swift
Labels: ViewController

#175 전체적인 UI 수정
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Segno/Segno/Application/AppDelegate.swift
  Segno/Segno/Data/Network/Endpoints/LoginEndpoint.swift
  Segno/Segno/Data/Repository/LoginRepository.swift
  Segno/Segno/Data/Session/LoginSession.swift
  Segno/Segno/Domain/UseCase/LoginUseCase.swift
  Segno/Segno/Presentation/View/NicknameCell.swift
  Segno/Segno/Presentation/View/SettingsActionSheetCell.swift
  Segno/Segno/Presentation/ViewController/LoginViewController.swift
  Segno/Segno/Presentation/ViewController/MyPageViewController.swift
  Segno/Segno/Presentation/ViewController/SettingsViewController.swift
  Segno/Segno/Presentation/ViewModel/LoginViewModel.swift
  Segno/Segno/Resource/Info.plist
Labels: ViewController

#176 DiaryEditViewController 구성 / Location 흐름 구축
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Application/AppCoordinator.swift
  Segno/Segno/Data/Session/LocationRepository.swift
  Segno/Segno/Domain/UseCase/LocationUseCase.swift
  Segno/Segno/Presentation/Utility/DeleteTapGestureRecognizer.swift
  Segno/Segno/Presentation/View/TagView.swift
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryEditViewModel.swift
Labels: ViewController, Repository, UseCase, ViewModel

#184 음악 무한 재생
  Segno/Segno/Data/Session/MusicSession.swift
  Segno/Segno/Presentation/View/MusicContentView.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryDetailViewModel.swift
Labels: ViewController, Session

#186 MyPage 서버와 연결 및 더미데이터 삭제
  Segno/Segno/Data/Network/Endpoints/UserDetailEndpoint.swift
  Segno/Segno/Data/Repository/DTO/UserDetailDTO.swift
  Segno/Segno/Data/Repository/MyPageRepository.swift
  Segno/Segno/Domain/UseCase/UserDetailUseCase.swift
  Segno/Segno/Entity/UserDetailItem.swift
  Segno/Segno/Presentation/ViewController/MyPageViewController.swift
  Segno/Segno/Presentation/ViewModel/MyPageViewModel.swift
Labels: ViewController, Repository, UseCase, ViewModel

#187 DiaryCollectionViewController 검색 기능 및 UI 수정
  Segno/Segno/Presentation/View/DiaryCell.swift
  Segno/Segno/Presentation/ViewController/DiaryCollectionViewController.swift
Labels: ViewController

#190 다이어리 작성하여 서버에 전송하는 로직 구현
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Network/Endpoints/NewDiaryPostEndpoint.swift
  Segno/Segno/Data/Repository/DTO/NewDiaryDetailDTO.swift
  Segno/Segno/Data/Repository/DiaryRepository.swift
  Segno/Segno/Data/Repository/ImageRepository.swift
  Segno/Segno/Data/Repository/LocationRepository.swift
  Segno/Segno/Domain/UseCase/DiaryEditUseCase.swift
  Segno/Segno/Domain/UseCase/ImageUseCase.swift
  Segno/Segno/Entity/ImageInfo.swift
  Segno/Segno/Entity/NewDiaryDetail.swift
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryEditViewModel.swift
Labels: ViewController, Model, Repository, UseCase, ViewModel

#192 DiaryEditViewcontroller - DTO 수정에 따른 서버로부터의 응답 로직 수정
  Segno/Segno/Data/Repository/DTO/NewDiaryDetailDTO.swift
  Segno/Segno/Domain/UseCase/DiaryEditUseCase.swift
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryEditViewModel.swift
Labels: ViewController, UseCase, ViewModel

#193 KeyChain 작업
  Segno/Segno/Application/AppCoordinator.swift
  Segno/Segno/Data/Repository/DiaryRepository.swift
  Segno/Segno/Data/Repository/LocalUtilityRepository.swift
  Segno/Segno/Data/Repository/MyPageRepository.swift
  Segno/Segno/Data/Repository/SettingsRepository.swift
  Segno/Segno/Domain/UseCase/DiaryEditUseCase.swift
  Segno/Segno/Domain/UseCase/LoginUseCase.swift
  Segno/Segno/Presentation/Coordinator/MyPageCoordinator.swift
  Segno/Segno/Presentation/ViewController/MyPageViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryEditViewModel.swift
Labels: Coordinator, Utility

#194 이미지 불러오기
  Segno/Segno/Data/Network/Namespaces/BaseURL.swift
  Segno/Segno/Presentation/View/DiaryCell.swift
  Segno/Segno/Presentation/ViewController/DiaryCollectionViewController.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
  Segno/Segno/Presentation/ViewController/MyPageViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryDetailViewModel.swift
Labels: ViewController

#202 일기 목록과 마이페이지 새로고침
  Segno/Segno/Presentation/ViewController/DiaryCollectionViewController.swift
  Segno/Segno/Presentation/ViewController/MyPageViewController.swift
Labels: ViewController

#203 전체적인 Location 관련 로직 수정
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Repository/LocationRepository.swift
  Segno/Segno/Domain/UseCase/GetAddressUseCase.swift
  Segno/Segno/Domain/UseCase/LocationUseCase.swift
  Segno/Segno/Presentation/Coordinator/DiaryCoordinator.swift
  Segno/Segno/Presentation/View/LocationContentView.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
  Segno/Segno/Presentation/ViewController/MapViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryDetailViewModel.swift
  Segno/Segno/Presentation/ViewModel/DiaryEditViewModel.swift
  Segno/Segno/Presentation/ViewModel/MapViewModel.swift
Labels: Repository, UseCase, ViewModel

#204 DiaryEditViewController - imagePicker에 카메라 옵션 추가
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
Labels: ViewController

#206 fix: bodyTextView의 내용을 불러올 수 없던 오류 수정
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
Labels: bug

#208 로그아웃 후 로그인 화면으로 이동
  Segno/Segno/Application/AppCoordinator.swift
  Segno/Segno/Presentation/Coordinator/LoginCoordinator.swift
  Segno/Segno/Presentation/Coordinator/MyPageCoordinator.swift
  Segno/Segno/Presentation/Coordinator/TabBar/TabBarCoordinator.swift
  Segno/Segno/Presentation/ViewController/LoginViewController.swift
  Segno/Segno/Presentation/ViewController/MyPageViewController.swift
Labels: Coordinator

#209 셀 타이틀 컬러 변경
  Segno/Segno/Presentation/View/DiaryCell.swift
Labels: ViewController

#210 위치 관련 이슈 수정
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryEditViewModel.swift
Labels: bug, ViewController, ViewModel

#211 UI 관련 편의 기능 수정
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Extension/UIImageView+.swift
  Segno/Segno/Presentation/View/DiaryCell.swift
  Segno/Segno/Presentation/View/LocationContentView.swift
  Segno/Segno/Presentation/View/MusicContentView.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
Labels: ViewController

#213 일기 삭제 기능
  Segno/Segno/Data/Network/Endpoints/DiaryDeleteEndpoint.swift
  Segno/Segno/Data/Repository/DTO/DiaryDetailDTO.swift
  Segno/Segno/Data/Repository/DiaryRepository.swift
  Segno/Segno/Domain/UseCase/DiaryDetailUseCase.swift
  Segno/Segno/Entity/DiaryDetail.swift
  Segno/Segno/Presentation/ViewController/DiaryCollectionViewController.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryDetailViewModel.swift
  Segno/Segno/Presentation/ViewModel/DiaryEditViewModel.swift
Labels: ViewController

#214 popup 구현
  Segno/Segno/Data/Session/ShazamSession.swift
  Segno/Segno/Domain/UseCase/SearchMusicUseCase.swift
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
  Segno/Segno/Presentation/ViewController/SettingsViewController.swift
Labels: ViewController

#216 피드백 반영 및 오류 수정
  Segno/Segno/Data/Repository/MusicRepository.swift
  Segno/Segno/Data/Session/ShazamSession.swift
  Segno/Segno/Domain/UseCase/SearchMusicUseCase.swift
  Segno/Segno/Entity/DiaryDetail.swift
  Segno/Segno/Extension/UIFont+.swift
  Segno/Segno/Extension/UIViewController+.swift
  Segno/Segno/Presentation/Coordinator/TabBar/TabBarCoordinator.swift
  Segno/Segno/Presentation/View/LocationContentView.swift
  Segno/Segno/Presentation/View/MusicContentView.swift
  Segno/Segno/Presentation/View/NicknameCell.swift
  Segno/Segno/Presentation/View/SettingsActionSheetCell.swift
  Segno/Segno/Presentation/View/SettingsSwitchCell.swift
  Segno/Segno/Presentation/View/TagView.swift
  Segno/Segno/Presentation/ViewController/DiaryCollectionViewController.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
  Segno/Segno/Presentation/ViewController/MapViewController.swift
  Segno/Segno/Presentation/ViewController/MyPageViewController.swift
  Segno/Segno/Presentation/ViewController/SettingsViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryDetailViewModel.swift
  Segno/Segno/Presentation/ViewModel/DiaryEditViewModel.swift
Labels: ViewController, Repository, UseCase, ViewModel, Session

#217 사소한 레이아웃 수정
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
  Segno/Segno/Presentation/ViewController/MapViewController.swift
Labels: ViewController

#218 Feature/popup
  Segno/Segno/Data/Session/LoginSession.swift
  Segno/Segno/Extension/UIViewController+.swift
  Segno/Segno/Presentation/ViewController/MyPageViewController.swift
Labels: ViewController

#219 날짜 기록 추가
  Segno/Segno/Data/Repository/DTO/DiaryDetailDTO.swift
  Segno/Segno/Domain/UseCase/DiaryDetailUseCase.swift
  Segno/Segno/Domain/UseCase/LoginUseCase.swift
  Segno/Segno/Entity/DiaryDetail.swift
  Segno/Segno/Entity/NewDiaryDetail.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryDetailViewModel.swift
  Segno/Segno/Presentation/ViewModel/DiaryEditViewModel.swift
Labels: UseCase, ViewModel

#221 위치 권한 관련 에러 핸들링
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Repository/LocationRepository.swift
  Segno/Segno/Data/Session/Errors/LocationError.swift
  Segno/Segno/Domain/UseCase/LocationUseCase.swift
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryEditViewModel.swift
Labels: bug, ViewController

#222 layout 수정
  Segno/Segno/Data/Session/Errors/MusicError.swift
  Segno/Segno/Presentation/View/LocationContentView.swift
  Segno/Segno/Presentation/View/MusicContentView.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
Labels: ViewController

#223 일기 수정 작업
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Network/Endpoints/DiaryUpdateEndpoint.swift
  Segno/Segno/Data/Repository/DiaryRepository.swift
  Segno/Segno/Domain/UseCase/DiaryEditUseCase.swift
  Segno/Segno/Entity/UpdateDiaryDetail.swift
  Segno/Segno/Presentation/Coordinator/DiaryCoordinator.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
  Segno/Segno/Presentation/ViewController/LoginViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryDetailViewModel.swift
  Segno/Segno/Presentation/ViewModel/DiaryEditViewModel.swift
Labels: ViewController, Repository, UseCase, ViewModel

#225 테스트 코드 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Entity/DiaryDetail.swift
  Segno/Segno/Entity/ImageInfo.swift
  Segno/Segno/Entity/Location.swift
  Segno/Segno/Entity/MusicInfo.swift
  Segno/SegnoTests/ChangeNicknameUseCaseTest.swift
  Segno/SegnoTests/DiaryDetailUseCaseTest.swift
  Segno/SegnoTests/DiaryEditUseCaseTest.swift
  Segno/SegnoTests/DiaryListUseCaseTest.swift
  Segno/SegnoTests/GetAddressUseCaseTest.swift
  Segno/SegnoTests/ImageUseCaseTest.swift
  Segno/SegnoTests/LocationUseCaseTest.swift
  Segno/SegnoTests/LoginUseCaseTest.swift
  Segno/SegnoTests/PlayMusicUseCaseTest.swift
  Segno/SegnoTests/SearchMusicUseCaseTest.swift
  Segno/SegnoTests/UserDetailUseCaseTest.swift
Labels: test
