Repository boostcampwm-2022/iOS05-Segno, pull requests merged in 2022-11, with the labels that each got.

#11 Coordinator 구현
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Application/AppCoordinator.swift
  Segno/Segno/Application/SceneDelegate.swift
  Segno/Segno/Presentation/Coordinator/Coordinator.swift
  Segno/Segno/Presentation/Coordinator/DiaryCoordinator.swift
  Segno/Segno/Presentation/Coordinator/LoginCoordinator.swift
  Segno/Segno/Presentation/Coordinator/MyPageCoordinator.swift
  Segno/Segno/Presentation/Coordinator/TabBar/TabBarCoordinator.swift
  Segno/Segno/Presentation/Coordinator/TabBar/TabBarPageCase.swift
  Segno/Segno/Presentation/ViewController/DiaryViewController.swift
  Segno/Segno/Presentation/ViewController/LoginViewController.swift
  Segno/Segno/Presentation/ViewController/MyPageViewController.swift
Labels: Coordinator

#10 엔티티 모델 설정
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Entity/DiaryDetail.swift
  Segno/Segno/Entity/DiaryListItem.swift
  Segno/Segno/Entity/MusicInfo.swift
  Segno/Segno/Extension/SHMediaItem+.swift
Labels: Model

#19 DiaryCollectionViewController 화면 구성
  Segno/Segno/Presentation/Coordinator/DiaryCoordinator.swift
  Segno/Segno/Presentation/ViewController/DiaryViewController.swift
Labels: ViewController

#20 네트워크 매니저 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Network/Endpoint.swift
  Segno/Segno/Data/Network/NetworkError.swift
  Segno/Segno/Data/Network/NetworkManager.swift
Labels: Utility

#21 LoginUtilityRepository 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/KeychainError.swift
  Segno/Segno/Data/Repository/LocalUtilityRepository.swift
Labels: Repository

#24 #22 feat: LoginViewController prototype 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Extension/UIButton+.swift
  Segno/Segno/Presentation/ViewController/LoginViewController.swift
Labels: ViewController

#36 일기 레포지토리 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Network/Endpoints/DiaryListItemEndpoint.swift
  Segno/Segno/Data/Repository/DTO/DiaryListDTO.swift
  Segno/Segno/Data/Repository/DiaryRepository.swift
Labels: Repository

#35 DiaryCollectionViewController 화면 구성-2
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Presentation/Coordinator/DiaryCoordinator.swift
  Segno/Segno/Presentation/ViewController/DiaryCollectionViewController.swift
  Segno/Segno/Presentation/ViewController/DiaryViewController.swift
Labels: ViewController

#37 DiaryListUseCase 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Domain/UseCase/DiaryListUseCase.swift
Labels: UseCase

#38 DiaryCollectionViewModel 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Presentation/ViewModel/DiaryCollectionViewModel.swift
Labels: ViewModel

#40 DiaryCollectionViewController 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Repository/DTO/DiaryListDTO.swift
  Segno/Segno/Data/Repository/DiaryRepository.swift
  Segno/Segno/Presentation/ViewController/DiaryCell.swift
  Segno/Segno/Presentation/ViewController/DiaryCollectionViewController.swift
Labels: ViewController

#49 로그인 레포지토리 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Network/Endpoints/DiaryListItemEndpoint.swift
  Segno/Segno/Data/Network/Endpoints/LoginEndpoint.swift
  Segno/Segno/Data/Network/Namespaces/BaseURL.swift
  Segno/Segno/Data/Repository/DTO/TokenDTO.swift
  Segno/Segno/Data/Repository/DTO/UserInfoDTO.swift
  Segno/Segno/Data/Repository/LoginRepository.swift
Labels: Repository

#50 LoginUtilityRepository 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Repository/LocalUtilityRepository.swift
  Segno/Segno/Data/Repository/UserDefaultsKey.swift
Labels: Repository

#56 LoginUseCase 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Domain/UseCase/LoginUseCase.swift
Labels: UseCase

#58 LoginViewModel 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Presentation/ViewModel/LoginViewModel.swift
Labels: ViewModel

#67 로그인 로직 구현
  Segno/Segno/Data/Repository/LoginRepository.swift
  Segno/Segno/Domain/UseCase/LoginUseCase.swift
  Segno/Segno/Presentation/ViewController/LoginViewController.swift
  Segno/Segno/Presentation/ViewModel/LoginViewModel.swift
Labels: ViewController, Repository, UseCase, ViewModel

#68 로그인 세션 분리
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Session/LoginSession.swift
  Segno/Segno/Presentation/ViewController/LoginViewController.swift
  Segno/Segno/Presentation/ViewModel/LoginViewModel.swift
Labels: Repository

#77 전체적인 디자인 수정
  Segno/Segno/Application/AppCoordinator.swift
  Segno/Segno/Presentation/Coordinator/TabBar/TabBarCoordinator.swift
  Segno/Segno/Presentation/View/DiaryCell.swift
  Segno/Segno/Presentation/ViewController/DiaryCollectionViewController.swift
  Segno/Segno/Presentation/ViewController/LoginViewController.swift
Labels: ViewController

#78 로그인 프로세스 분리
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Session/LoginSession.swift
  Segno/Segno/Domain/UseCase/LoginUseCase.swift
  Segno/Segno/Entity/UserInfo.swift
  Segno/Segno/Presentation/ViewController/LoginViewController.swift
  Segno/Segno/Presentation/ViewModel/LoginViewModel.swift
  Segno/Segno/Resource/Info.plist
Labels: ViewController, Repository, UseCase, ViewModel

#79 DiaryDetailViewController 화면 구성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Presentation/View/LocationContentView.swift
  Segno/Segno/Presentation/View/MusicContentView.swift
  Segno/Segno/Presentation/View/TagView.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
Labels: ViewController

#84 일기 목록에서 셀 선택시 일기 상세 화면으로 연결
  Segno/Segno/Presentation/Coordinator/DiaryCoordinator.swift
  Segno/Segno/Presentation/ViewController/DiaryCollectionViewController.swift
Labels: Coordinator, ViewController

#86 Diary detail logic 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Network/Endpoints/DiaryDetailEndpoint.swift
  Segno/Segno/Data/Repository/DTO/DiaryDetailDTO.swift
  Segno/Segno/Data/Repository/DiaryRepository.swift
  Segno/Segno/Domain/UseCase/DiaryDetailUseCase.swift
Labels: Model, Repository, UseCase

#87 DiaryDetailViewController 레이아웃 수정
  Segno/Segno/Presentation/View/LocationContentView.swift
  Segno/Segno/Presentation/View/MusicContentView.swift
  Segno/Segno/Presentation/View/TagView.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
Labels: ViewController

#88 일기 작성 뷰 컨트롤러 레이아웃 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Repository/DTO/DiaryListDTO.swift
  Segno/Segno/Domain/UseCase/DiaryListUseCase.swift
  Segno/Segno/Entity/DiaryDetail.swift
  Segno/Segno/Entity/DiaryListItem.swift
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
Labels: ViewController

#93 DiaryDetailViewModel 작성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Presentation/ViewModel/DiaryDetailViewModel.swift
Labels: ViewModel

#100 일기 목록에서 + 버튼 누를 시 일기 추가 화면으로 연결
  Segno/Segno/Presentation/Coordinator/DiaryCoordinator.swift
  Segno/Segno/Presentation/ViewController/DiaryCollectionViewController.swift
Labels: Coordinator, ViewController

#101 마이페이지 화면 세팅 및 설정 화면로 연결
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Presentation/Coordinator/MyPageCoordinator.swift
  Segno/Segno/Presentation/ViewController/MyPageViewController.swift
  Segno/Segno/Presentation/ViewController/SettingsViewController.swift
Labels: Coordinator, ViewController

#102 일기 작성 뷰 컨트롤러 디자인 조정
  Segno/Segno/Presentation/ViewController/DiaryEditViewController.swift
Labels: ViewController

#103 DiaryDetailViewController 작업
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Entity/Location.swift
  Segno/Segno/Presentation/Coordinator/DiaryCoordinator.swift
  Segno/Segno/Presentation/View/LocationContentView.swift
  Segno/Segno/Presentation/View/MusicContentView.swift
  Segno/Segno/Presentation/ViewController/DiaryCollectionViewController.swift
  Segno/Segno/Presentation/ViewController/DiaryDetailViewController.swift
  Segno/Segno/Presentation/ViewController/MapKitViewController.swift
  Segno/Segno/Presentation/ViewModel/DiaryDetailViewModel.swift
Labels: ViewController

#104 MapKitViewController 작업
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Entity/Location.swift
  Segno/Segno/Extension/UIView+.swift
  Segno/Segno/Presentation/Coordinator/DiaryCoordinator.swift
  Segno/Segno/Presentation/View/LocationContentView.swift
  Segno/Segno/Presentation/ViewController/MapKitViewController.swift
Labels: ViewController

#105 refactor: 구글 로그인 결과를 String 타입의 Observable로 넘기도록 변경
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Application/AppCoordinator.swift
  Segno/Segno/Data/LoginError.swift
  Segno/Segno/Data/Session/LoginSession.swift
  Segno/Segno/Presentation/ViewModel/LoginViewModel.swift
Labels: ViewModel, Session

#106 MapKitViewController에 주소 라벨 추가
  Segno/Segno/Presentation/ViewController/MapKitViewController.swift
Labels: ViewController

#107 LocalUtilityReposity 리팩토링
  Segno/Segno/Data/Repository/LocalUtilityRepository.swift
Labels: Utility, Repository

#108 SettingsViewController 화면 구성
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Presentation/View/NicknameCell.swift
  Segno/Segno/Presentation/View/SettingsActionSheetCell.swift
  Segno/Segno/Presentation/View/SettingsCellModel.swift
  Segno/Segno/Presentation/View/SettingsSwitchCell.swift
  Segno/Segno/Presentation/ViewController/SettingsViewController.swift
Labels: ViewController

#109 애플 인증 관련 요소를 뷰 모델에서 제거
  Segno/Segno/Data/Session/LoginSession.swift
  Segno/Segno/Presentation/ViewController/LoginViewController.swift
  Segno/Segno/Presentation/ViewModel/LoginViewModel.swift
Labels: ViewController, ViewModel, Session

#111 MyPageViewController 디자인 조정
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Presentation/View/NicknameCell.swift
  Segno/Segno/Presentation/View/SettingsActionSheetCell.swift
  Segno/Segno/Presentation/View/SettingsSwitchCell.swift
  Segno/Segno/Presentation/ViewController/DiaryCollectionViewController.swift
  Segno/Segno/Presentation/ViewController/MyPageViewController.swift
  Segno/Segno/Presentation/ViewController/SettingsViewController.swift
  Segno/Segno/Presentation/ViewModel/MyPageViewModel.swift
Labels: ViewController

#121 SettingsViewController에서 Cell 내부 액션을 이용하는 방법 변경
  Segno/Segno.xcodeproj/project.pbxproj
  Segno/Segno/Data/Repository/UserDefaultsKey.swift
  Segno/Segno/Presentation/View/NicknameCell.swift
  Segno/Segno/Presentation/View/SettingsActionSheetCell.swift
  Segno/Segno/Presentation/View/SettingsSwitchCell.swift
  Segno/Segno/Presentation/ViewController/SettingsViewController.swift
  Segno/Segno/Presentation/ViewModel/SettingsViewModel.swift
Labels: ViewController, ViewModel
